@model prjWebSpaceMent.Spaces

@{
    ViewBag.Title = "Spaces_Create";
}

<section id="intro">
    <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_3.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">讓我們幫您吧，想找哪個場地?</div>
                    <h1 class="mb-4">開始找尋適合您的場地吧！</h1>
                    <a href="#services" class="btn btn-primary">找場地</a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_1.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">輕鬆刊登場地，曝光永不間斷</div>
                    <h1 class="mb-4">好場地，就該讓更多人知道！</h1>
                    <a href="#services" class="btn btn-primary">成為場地主</a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_2.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">Hi！需要什麼協助嗎？</div>
                    <h1 class="mb-4">有什麼問題嗎？您來對地方了</h1>
                    <a href="#services" class="btn btn-primary">最新消息</a>
                </div>
            </div>
        </div>
    </div> <!-- .slider-wrapper -->
</section>

<main>
    <h2>建立新場地</h2>
    <hr />
    <form method="post" action="~/Spaces/Spaces_Save">
        <div>
            <span>場地名稱</span><br />
            <input type="text" name="txtsName" placeholder="必填" required   />
        </div>
        <div>
            <span>場地類型</span><br />
            <input type="text" name="txtsType" placeholder="必填" required  />
        </div>
        <div>
            <span>地址</span><br />
            <input type="text" name="txtsAddr" placeholder="必填" required  />
        </div>
        <div>
            <span>聯絡電話</span><br />
            <input type="text" name="txtsPhone" placeholder="必填" required  />
        </div>
        <div>
            <span>樓層</span><br />
            <input type="text" name="txtsFloor" placeholder="必填" required />
        </div>
        <div>
            <span>高度</span><br />
            <input type="text" name="txtsHeight" />
        </div>
        <div>
            <span>面積</span><br />
            <input type="text" name="txtsArea" />
        </div>
        <div>
            <span>可容納人數</span><br />
            <input type="text" name="txtsCapacity" placeholder="必填" required  />
        </div>
        <div>
            <span>費用</span><br />
            <input type="text" name="txtsRent" value="0" />
        </div>
        <div>
            <span>費率</span><br />
            <input type="text" name="txtsRate" value="0" />
        </div>
        <div>
            <span>簡介</span><br />
            <input type="text" name="txtsTntro" placeholder="必填" required   />
        </div>
        <div>
            <span>營業時間</span><br />
            <input type="text" name="txtsOpeningTime" />
        </div>
        <div>
            <span>場地安全</span><br />
            <input type="text" name="txtsSecurity" />
        </div>
        <div>
            <span>交通特色</span><br />
            <input type="text" name="txtsTraffic" />
        </div>
        <hr />
        <div>
            <input type="submit" value="建立場地" />
        </div>
    </form>
    <div>
        @Html.ActionLink("返回場地總覽", "Spaces_List")
    </div>
</main>
