@{
    ViewBag.Title = "Home Page";
}
@*<link rel="stylesheet" href="~/Content/JoinButton.css">*@

<!--回到頁首-->
<div class="back-to-top"></div>

<!--Intro Section-->
<section id="intro">
    <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_3.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">讓我們幫您吧，想找哪個場地?</div>
                    <h1 class="mb-4">開始找尋適合您的場地吧！</h1>
                    <a href="#spaces" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        找場地
                    </a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_1.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">輕鬆刊登場地，曝光永不間斷</div>
                    <h1 class="mb-4">好場地，就該讓更多人知道！</h1>
                    <a href="#subspaces" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        成為場地主
                    </a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/img/bg_image_2.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">Hi！需要什麼協助嗎？</div>
                    <h1 class="mb-4">有什麼問題嗎？您來對地方了</h1>
                    <a href="#faq" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        常見問題
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- .slider-wrapper -->
</section>

<main id="main">
    <!--About Section-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="subhead">關於<span class="fg-primary">Space們</span></div>
                    <h2 class="title-section">讓美好的人事物 <br />發生在<span class="fg-primary">美好的場地</span></h2>

                    <p>我們集結了上千個場地，不管你在什麼樣的地方，辦什麼樣的活動，<br />從搜尋、比對到預訂，都可以在這裡一指輕鬆搞定！<br />Space們結合「共享經濟」、「場地媒合」與「電商平台」三大領域<br />，我們改變「場地租借」的現有模式，讓浪費變成利益、讓複雜變得<br />容易，讓遙遠變得靠近。</p>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img class="w-100 d-none d-md-block" src="https://www.spaceadvisor.com/assets/front_v2/img/static-page/aboutus/SpaceAdvisor_logo.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--spaces Section-->
    <section id="spaces" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2><a href="https://localhost:44386/Spaces/Spaces_List">找場地</a></h2>
                <p>讓我們幫你吧，想找哪個場地？</p>
            </div>
            <h3>在找哪裡的場地呢？</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="space">
                        <img src="~/img/spaces/1.jpg" alt="space 1" class="img-fluid">
                        <div class="details">
                            <h3><a href="https://localhost:44386/Spaces/Spaces_List">北台灣</a></h3>
                            <div class="social">
                                <p>北北基宜桃竹苗</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="space">
                        <img src="~/img/spaces/2.jpg" alt="space 2" class="img-fluid">
                        <div class="details">
                            <h3><a href="https://localhost:44386/Spaces/Spaces_List">中台灣</a></h3>
                            <div class="social">
                                <p>中彰投</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="space">
                        <img src="~/img/spaces/3.jpg" alt="space 3" class="img-fluid">
                        <div class="details">
                            <h3><a href="https://localhost:44386/Spaces/Spaces_List">南台灣</a></h3>
                            <div class="social">
                                <p>高屏雲嘉南</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>要舉辦甚麼類型的活動呢?</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="space">
                            <img src="~/img/spaces/4.jpg" alt="space 4" class="img-fluid">
                            <div class="details">
                                <h3><a href="https://localhost:44386/Spaces/Spaces_List">會議/商務中心</a></h3>
                                <div class="social">
                                    <p>會議、論談、發表會</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="space">
                            <img src="~/img/spaces/5.jpg" alt="space 5" class="img-fluid">
                            <div class="details">
                                <h3><a href="https://localhost:44386/Spaces/Spaces_List">星級飯店</a></h3>
                                <div class="social">
                                    <p>慶生、派對、娛樂</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="space">
                            <img src="~/img/spaces/6.jpg" alt="space 6" class="img-fluid">
                            <div class="details">
                                <h3><a href="https://localhost:44386/Spaces/Spaces_List">婚宴會館</a></h3>
                                <div class="social">
                                    <p>喜宴、聚餐、家宴</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--推薦場地 Section-->
    <section id="recommends" class="section-with-bg wow fadeInUp">

        <div class="container">
            <div class="section-header">
                <h2>推薦場地</h2>
                <p>這裡有我們精選的好場地！</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="recommend">
                        <div class="recommend-img">
                            <img src="~/img/recommends/1.jpg" alt="recommend 1" class="img-fluid">
                        </div>
                        <h3><a href="#">場地 1</a></h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>台北市</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="recommend">
                        <div class="recommend-img">
                            <img src="~/img/recommends/2.jpg" alt="recommend 2" class="img-fluid">
                        </div>
                        <h3><a href="#">場地 2</a></h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </div>
                        <p>台中市</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="recommend">
                        <div class="recommend-img">
                            <img src="~/img/recommends/3.jpg" alt="recommend 3" class="img-fluid">
                        </div>
                        <h3><a href="#">場地 3</a></h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>高雄市</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!--Spacelead Section-->
    <section id="subspaces">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>成為場地主</h2>
                <p>好場地，就該讓更多人知道你的好！</p>
            </div>

            <form method="POST" action="#">
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <a href="#" class="joinbutton-a">
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            <span class="joinbutton-a-span"></span>
                            Join Now!
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </section>


    <!--Sponsors Section-->
    <section id="supporters" class="section-with-bg wow fadeInUp">

        <div class="container">
            <div class="section-header">
                <h2>合作廠商</h2>
            </div>

            <div class="row no-gutters supporters-wrap clearfix">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/1.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/2.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/3.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/4.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/5.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/6.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/7.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/img/supporters/8.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!--F.A.Q Section-->
    <section id="faq" class="wow fadeInUp">

        <div class="container">

            <div class="section-header">
                <h2>常見問題</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <ul id="faq-list">

                        <li>
                            <a data-toggle="collapse" class="collapsed" href="#faq1">如何修改會員資料？ <i class="fa fa-minus-circle"></i></a>
                            <div id="faq1" class="collapse" data-parent="#faq-list">
                                <p>
                                    登入平台後點選「會員資料管理」，選擇並完成想要修改的項目，填寫完後儲存即完成修改。
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq2" class="collapsed">如何修改密碼？<i class="fa fa-minus-circle"></i></a>
                            <div id="faq2" class="collapse" data-parent="#faq-list">
                                <p>
                                    登入平台後點選「會員資料」，依序填寫舊密碼、新密碼、再次確認新密碼，儲存即完成修改。
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq3" class="collapsed">忘記密碼怎麼辦？ <i class="fa fa-minus-circle"></i></a>
                            <div id="faq3" class="collapse" data-parent="#faq-list">
                                <p>
                                    在首頁右上角點選「登入」圖示，根據跳窗指定上點選「忘記密碼」，輸入原始註冊e-mail，系統將寄發通知信來重新設定密碼。
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq4" class="collapsed">如何找到合適的場地？<i class="fa fa-minus-circle"></i></a>
                            <div id="faq4" class="collapse" data-parent="#faq-list">
                                <p>
                                    直接在Space們首頁篩選所需要的場地條件：場地類別、活動性質、地區、人數、日期並輸入關鍵字，可進一步篩選出符合要求的場地。
                                    <br />或者也可以從首頁點選的主題專區，根據舉辦的活動類型找到最理想場地。
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq5" class="collapsed">使用Space們訂場地有哪些好處？ <i class="fa fa-minus-circle"></i></a>
                            <div id="faq5" class="collapse" data-parent="#faq-list">
                                <p>
                                    任何與活動場地有關的需求，都可以在SpaceAdvisor找到最佳解答：尋找合適場地、查看場地評價、線上場勘、預訂場地、代收款項、活動餐點、場地額外要求，通通都能在平台上一條龍輕鬆解決！
                                    <br />Space們平台提供四大保證
                                    <br />1.場地多元豐富：豐富齊全的場地資訊、真實用戶評論、快速比較、精準搜尋
                                    <br />2.安心履約保障：第三方把關、多元付款、個資保證，合法商家、紛爭仲裁
                                    <br />3.價格精打細算：免手續費、買貴退差價、會員專屬優惠、限時免費取消
                                    <br />4.操作便利省時：步驟簡單、即時預訂、客服聯繫、訂單狀態隨時查
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#faq6" class="collapsed">Space們是誰？ <i class="fa fa-minus-circle"></i></a>
                            <div id="faq6" class="collapse" data-parent="#faq-list">
                                <p>
                                    有感於各行各業豐富的會議需求卻缺乏便捷高效的媒合方式，因此，焦點會議科技用心創造出一個集中所有場地的預約平台。集結最豐富、齊全的場地選擇，讓場地精準地被搜尋與預訂。
                                    <br />Space們，提供一個更完善的各式空間平台，我們看見您的困擾、傾聽您的需求、讓我們陪著您，化繁為簡！舉辦活動一切就是這麼輕鬆簡單！我們集結最豐富最齊全的場地選擇，挑好喜歡的場地後無須繁雜的手續，幾個步驟就能完成預約。
                                    <br />場地主可省時省力地在平台上刊登場地，快速的出租場地。SpaceAdvisor場地家，讓活動籌備更省時省力！讓活動籌組不孤單！ 加入場地家，你就是贏家！
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

    </section>

    <!--Contact Section-->
    <section id="contact" class="section-bg wow fadeInUp">

        <div class="container">

            <div class="section-header">
                <h2>聯絡我們</h2>
                <p>Hi！需要什麼協助嗎？</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>聯絡地址</h3>
                        <address>
                            80147 高雄市前金區中正四路211號8樓之1
                        </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>聯絡電話</h3>
                        <p><a href="tel:+155895548855">+886-796-99885</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>電子信箱</h3>
                        <p><a href="mailto:Space@example.com">Space@example.com</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">您的建議已送出，謝謝您！</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="您的姓名" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="您的電子信箱" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="主旨" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="請輸入您的寶貴意見..."></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">送出</button></div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->
    <!--Login Section-->
    <section id="logins" class="section-with-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h2>登入會員</h2>
                <p>請依您的使用身分別點選開始登入！</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">我是來找場地的...</h5>
                            <h6 class="card-price text-center">一般會員</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>搜尋場地/下訂單</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>個人資料編輯</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>評論/評分</li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>上架場地出租</li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>編輯場地資訊</li>
                            </ul>
                            <hr>
                            <div class="loginbtn">
                                <div class="btnLA"><a href="/Home/Login">登入</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">我來出租我的場地...</h5>
                            <h6 class="card-price text-center">場地主</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>上架場地出租</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>場地資料修改</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>審核訂單</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>回應評論</li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>搜尋其他場地/下訂單</li>
                            </ul>
                            <hr>
                            <div class="loginbtn">
                                <div class="btnLB"><a href="/Home/Login">登入</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">這網站是我在管的...</h5>
                            <h6 class="card-price text-center">管理者</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>審核場地主申請</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>所有場地資料維護</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>會員管理</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>網頁管理</li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>評分/評論管理</li>
                            </ul>
                            <hr>
                            <div class="loginbtn">
                                <div class="btnLC"><a href="/Home/Login">登入</a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal Order Form -->
        <!--<div id="login-modal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Buy Tickets</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <select id="ticket-type" name="ticket-type" class="form-control">
                                    <option value="">-- Select Your Ticket Type --</option>
                                    <option value="standard-access">Standard Access</option>
                                    <option value="pro-access">Pro Access</option>
                                    <option value="premium-access">Premium Access</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn">Buy Now</button>
                            </div>
                        </form>
                    </div>
                </div>--><!-- /.modal-content -->
            <!--</div>--><!-- /.modal-dialog -->
        <!--</div>--><!-- /.modal -->

    </section>
</main>