@{
    ViewBag.Title = "會員登入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Intro Section-->
<section id="subspaces">
    <div class="container wow fadeInUp">
        <div class="section-header p-5">
            <h2>還沒有加入會員嗎？</h2>
            <p>讓我帶您加入Spaces們吧！</p>
        </div>

        <form method="POST" action="#">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <a href="/Home/Register" class="joinbutton-a">
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        <span class="joinbutton-a-span"></span>
                        立即註冊
                    </a>
                </div>
            </div>
        </form>

    </div>
</section>

<main>
    <div class="section-header p-5 mb-5">
        <h2>會員登入</h2>
        <p>請輸入您的帳號及密碼進行登入</p>
    </div>
<div class="container">
    <div class="row justify-content-center">
        <form action=" @Url.Action("Login")" method="post">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group">
                        <label>帳號</label>
                        <input type="text" id="mAccount" name="mAccount" required="required" class="form-control" />
                        <small class="form-text text-muted mb-3">請輸入您註冊使用的帳號</small>
                    </div>
                    <div class="form-group">
                        <label>密碼</label>
                        <input type="password" id="mPassword" name="mPassword" required="required" class="form-control" />
                        <small class="form-text text-muted mb-3">請輸入您註冊使用的密碼</small>
                    </div>
                </div>
                
            </div>
            <div class="text-center mb-5">
                    <button type="submit" class="btn btn-success">登入</button>
            </div>
        </form>
    </div>
</div>
</main>

