
.loginbtn {
    text-align: center;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .loginbtn .btnLA {
        position: relative;
        width: 155px;
        height: 50px;
        margin: 20px;
    }

        .loginbtn .btnLA a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            color: #f00;
            z-index: 1;
            font-weight: 600;
            font-size: x-large;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.5s;
            backdrop-filter: blur(15px);
        }

        .loginbtn .btnLA:hover a {
            letter-spacing: 3px;
            color: #fff;
        }

        .loginbtn .btnLA a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgb(248 34 73 / 0.15), transparent);
            transform: skewX(45deg) translateX(0);
            transition: 0.5s;
            
        }

        .loginbtn .btnLA:hover a::before {
            transform: skewX(45deg) translateX(200%);
        }

        .loginbtn .btnLA::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0s;
        }

        .loginbtn .btnLA:hover::before {
            bottom: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .loginbtn .btnLA::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0s;
        }

        .loginbtn .btnLA:hover::after {
            top: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .loginbtn .btnLA::before,
        .loginbtn .btnLA::after {
            background: #f82249;
            box-shadow: 0 0 5px #f82249, 0 0 10px #f82249, 0 0 20px #f82249, 0 0 40px #f82249;
        }

    .loginbtn .btnLB {
        position: relative;
        width: 155px;
        height: 50px;
        margin: 20px;
    }

        .loginbtn .btnLB a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            color: #145618;
            z-index: 1;
            font-weight: 600;
            font-size: x-large;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.5s;
            backdrop-filter: blur(15px);
        }

        .loginbtn .btnLB:hover a {
            letter-spacing: 3px;
            color: #fff;
        }

        .loginbtn .btnLB a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgb(248 34 73 / 0.15), transparent);
            transform: skewX(45deg) translateX(0);
            transition: 0.5s;
        }

        .loginbtn .btnLB:hover a::before {
            transform: skewX(45deg) translateX(200%);
        }

        .loginbtn .btnLB::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0s;
        }

        .loginbtn .btnLB:hover::before {
            bottom: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .loginbtn .btnLB::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0s;
        }

        .loginbtn .btnLB:hover::after {
            top: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .loginbtn .btnLB::before,
        .loginbtn .btnLB::after {
            background: #1eff45;
            box-shadow: 0 0 5px #1eff45, 0 0 10px #1eff45, 0 0 20px #1eff45, 0 0 40px #1eff45;
        }

    .loginbtn .btnLC {
        position: relative;
        width: 155px;
        height: 50px;
        margin: 20px;
    }

        .loginbtn .btnLC a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            color: #02389b;
            z-index: 1;
            font-weight: 600;
            font-size: x-large;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            transition: 0.5s;
            backdrop-filter: blur(15px);
        }

        .loginbtn .btnLC:hover a {
            letter-spacing: 3px;
            color: #fff;
        }

        .loginbtn .btnLC a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgb(248 34 73 / 0.15), transparent);
            transform: skewX(45deg) translateX(0);
            transition: 0.5s;
        }

        .loginbtn .btnLC:hover a::before {
            transform: skewX(45deg) translateX(200%);
        }

        .loginbtn .btnLC::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0s;
        }

        .loginbtn .btnLC:hover::before {
            bottom: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .loginbtn .btnLC::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0s;
        }

        .loginbtn .btnLC:hover::after {
            top: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            transition-delay: 0.5s;
        }

        .loginbtn .btnLC::before,
        .loginbtn .btnLC::after {
            background: #2bd2ff;
            box-shadow: 0 0 5px #2bd2ff, 0 0 10px #2bd2ff, 0 0 20px #2bd2ff, 0 0 40px #2bd2ff;
        }